<b-list-group-item
  class="list-item pt-3 d-flex align-items-center text-start"
>
  <b-form-checkbox
    class="list-item__checkbox"
    v-model="isDone"
    @change="toggleTodoStatus"
  ></b-form-checkbox>
  <div class="list-item__content w-100" @click="editTodo">
    <template v-if="editMode">
      <b-form-input
        class="list-item__edit-input"
        v-model="editDescription"
        @keyup.enter="save"
        @keyup.esc="editMode = false"
        autofocus
      ></b-form-input>
    </template>
    <template v-else>
      {{ description }}
    </template>
  </div>
  <b-button
    class="list-item__priority-button border-0"
    size="sm"
    :class="colorPriority(priority)"
  >{{ showPriority(priority) }}</b-button>
  <b-icon
    class="list-item__delete-icon"
    style="cursor: pointer;"
    @click="deleteTodo"
    icon="trash-fill"
    aria-hidden="true"
  ></b-icon>
</b-list-group-item>
