.list-item {
    list-style: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dcdcdc;
    gap: 8px;
  
    &__checkbox {
        transform: scale(1.3);
        margin-top: 3px;
    }
    &__edit-input{
        border-radius: 0;
    }
  
  }
  